<article class="portfolio col-md-4 col-sm-6 col-xs-12">
					<div class="entry-thumbnail">
						{{content.field_product_image}}
					</div>
					<div class="portfolio-overlay sixth">
						<a href="#"><h4 class="entry-title">{{content.field_product_title}}</h4></a>
					</div>
				</article>